services:
  nginx:
    build:
      context: docker/nginx
    ports:
      - "80:80"
    volumes:
      - ./:/app
    depends_on:
      - php-fpm

  php-fpm:
    build:
      context: docker/php-fpm
    volumes:
      - ./:/app
    environment:
      APP_DEBUG: 1
      APP_ENV: dev
      SITE_URL: localhost
      SITE_NAME: SlimTest
      DB_HOST: mysql
      DB_USER: app
      DB_PASSWORD: secret
      DB_NAME: app

  php-cli:
    build:
      context: docker/php-cli
    volumes:
      - ./:/app
    environment:
      APP_DEBUG: 1
      APP_ENV: dev
      SITE_URL: localhost
      SITE_NAME: SlimTest
      DB_HOST: mysql
      DB_USER: app
      DB_PASSWORD: secret
      DB_NAME: app

  mysql:
    image:  mysql:8.0
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_USER: app
      MYSQL_PASSWORD: secret
      MYSQL_DATABASE: app
    volumes:
      - mysql:/var/lib/mysql
    ports:
      - "33061:3306"
    command: --default-authentication-plugin=mysql_native_password

volumes:
  mysql:

